# Go build artifacts
*.exe
*.out
*.test

# Vendor folder
/vendor/

# Binary output
/bin/

# Environment files
.env

# Local configuration files with secrets
config/local.yaml
docker-compose-local.yml
deploy_key
deploy_key.pub
*.pem